.zui-button {
  display: inline-block;
  *display: inline;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 20px;
  *zoom: 1;
  *overflow: visible;
  background-image: none;
}
.zui-button * {
  margin: 0;
  padding: 0;
}
.zui-button .zui-button-text {
  background: none;
  padding: 0;
  height: auto;
  line-height: auto;
}
.zui-button:hover {
  text-decoration: none;
  background-image: none;
}
input.zui-button-text,
button.zui-button-text {
  *vertical-align: top;
}
.zui-button:active {
  position: relative;
  top: 1px;
  box-shadow: 1px 1px 3px #999 inset;
}
.zui-button-group {
  padding-left: 5px;
}
.zui-button-group .zui-button {
  margin-left: -5px;
}
.zui-button-lorange,
.zui-button-morange,
.zui-button-sorange {
  color: #fff;
  border: 1px solid #d66500;
  background-color: #f57403;
}
.zui-button-lorange:hover,
.zui-button-morange:hover,
.zui-button-sorange:hover {
  background-color: #fb8318;
}
a.zui-button-lorange,
a.zui-button-morange,
a.zui-button-sorange,
a.zui-button-lorange:hover,
a.zui-button-morange:hover,
a.zui-button-sorange:hover,
a.zui-button-lorange:active,
a.zui-button-morange:active,
a.zui-button-sorange:active {
  color: #fff;
}
.zui-button-lorange {
  line-height: 32px;
  height: 32px;
}
.zui-button-morange {
  line-height: 28px;
  height: 28px;
}
.zui-button-sorange {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.zui-button-lorange {
  line-height: 30px;
  height: 30px;
}
a.zui-button-morange {
  line-height: 26px;
  height: 26px;
}
a.zui-button-sorange {
  line-height: 22px;
  height: 22px;
}
.zui-button-lwhite,
.zui-button-mwhite,
.zui-button-swhite {
  border: 1px solid #afafaf;
  background-color: #f3f3f3;
  color: #777;
}
.zui-button-lwhite:hover,
.zui-button-mwhite:hover,
.zui-button-swhite:hover {
  border: 1px solid #8e8e8e;
  background-color: #fcfbfb;
  color: #676d70;
}
a.zui-button-lwhite,
a.zui-button-mwhite,
a.zui-button-swhite,
a.zui-button-lwhite:active,
a.zui-button-mwhite:active,
a.zui-button-swhite:active {
  color: #777;
}
a.zui-button-lwhite:hover,
a.zui-button-mwhite:hover,
a.zui-button-swhite:hover {
  color: #676d70;
}
.zui-button-lwhite {
  line-height: 32px;
  height: 32px;
}
.zui-button-mwhite {
  line-height: 28px;
  height: 28px;
}
.zui-button-swhite {
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
a.zui-button-lwhite {
  line-height: 30px;
  height: 30px;
}
a.zui-button-mwhite {
  line-height: 26px;
  height: 26px;
}
a.zui-button-swhite {
  line-height: 22px;
  height: 22px;
}
.zui-button-ldisable,
.zui-button-mdisable,
.zui-button-sdisable {
  color: #999;
  border: none;
  background: #cacccd;
  cursor: default;
  cursor: default!important;
}
a.zui-button-ldisable,
a.zui-button-mdisable,
a.zui-button-sdisable,
a.zui-button-ldisable:active,
a.zui-button-mdisable:active,
a.zui-button-sdisable:active,
a.zui-button-ldisable:hover,
a.zui-button-mdisable:hover,
a.zui-button-sdisable:hover {
  color: #999;
}
.zui-button-ldisable {
  line-height: 32px;
  height: 32px;
}
.zui-button-mdisable {
  line-height: 28px;
  height: 28px;
}
.zui-button-sdisable {
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
.zui-button-ldisable:active,
.zui-button-mdisable:active,
.zui-button-sdisable:active {
  position: static;
  top: 0;
  box-shadow: none;
}
.zui-button-lblue,
.zui-button-mblue,
.zui-button-sblue {
  border: none;
  color: #fff;
  border: 1px solid #154c67;
  background-color: #006ba1;
}
.zui-button-lblue:hover,
.zui-button-mblue:hover,
.zui-button-sblue:hover {
  background-color: #007ab8;
}
a.zui-button-lblue,
a.zui-button-mblue,
a.zui-button-sblue,
a.zui-button-lblue:active,
a.zui-button-mblue:active,
a.zui-button-sblue:active,
a.zui-button-lblue:hover,
a.zui-button-mblue:hover,
a.zui-button-sblue:hover {
  color: #fff;
}
.zui-button-lblue {
  line-height: 32px;
  height: 32px;
}
.zui-button-mblue {
  line-height: 28px;
  height: 28px;
}
.zui-button-sblue {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.zui-button-lblue {
  line-height: 30px;
  height: 30px;
}
a.zui-button-mblue {
  line-height: 26px;
  height: 26px;
}
a.zui-button-sblue {
  line-height: 22px;
  height: 22px;
}
.zui-button-lgreen,
.zui-button-mgreen,
.zui-button-sgreen {
  color: #fff;
  border: 1px solid #379000;
  background-color: #4BB402;
}
.zui-button-lgreen:hover,
.zui-button-mgreen:hover,
.zui-button-sgreen:hover {
  background-color: #66BC2A;
}
a.zui-button-lgreen,
a.zui-button-mgreen,
a.zui-button-sgreen,
a.zui-button-lgreen:hover,
a.zui-button-mgreen:hover,
a.zui-button-sgreen:hover,
a.zui-button-lgreen:active,
a.zui-button-mgreen:active,
a.zui-button-sgreen:active {
  color: #fff;
}
.zui-button-lgreen {
  line-height: 32px;
  height: 32px;
}
.zui-button-mgreen {
  line-height: 28px;
  height: 28px;
}
.zui-button-sgreen {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.zui-button-lgreen {
  line-height: 30px;
  height: 30px;
}
a.zui-button-mgreen {
  line-height: 26px;
  height: 26px;
}
a.zui-button-sgreen {
  line-height: 22px;
  height: 22px;
}
